.about {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 5rem 6rem;

    & .about-me {
        width: 50%;
        margin-right: 7rem;
        
        & h3 {
            font-size: 2.7rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            margin-bottom: 1.8rem;
        }

        & .text {
            max-height: 370px;
            font-size: 1.5rem;
            line-height: 1.4;
            text-align: justify;
        }
    }
    
    & .picture {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        & .box-image {
            width: 80%;
            max-width: 31rem;
            z-index: 1;
        }
    }
}