.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 5rem 6rem 2rem;

    & .highlight {
        width: 18rem;
        font-size: 1.7rem;
        font-weight: 700;
        margin: 0 auto 2rem;
        animation: pulsate 2s infinite alternate ease-in-out;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;

        & .contact-networks {
            display: flex;
            align-items: center;
            gap: 1rem;

            & .networks {
                font-size: 2rem;
            }

        }
        
        & .email {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        & .email i {
            font-size: 2rem;
        }
    }
}