
html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);

    & .title {
        font-size: 3.4rem;
        font-weight: 700;
        margin-bottom: 4rem;
    }
}