html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.title {
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.box-image.logo {
    max-width: 10rem;
    max-height: 10rem;
}

.networks {
    display: flex;
    font-size: 3rem;
    gap: 1rem;
}

.icon {
    transition: .3s ease-in-out;
}

.icon:hover {
    color: var(--secondary-color);
}