.hero {
    height: 100vh;
    display: grid;
    grid: "container-logo header" 6rem
    "container-logo presentation"/
    40% 60%;

    & .header {
        grid-area: header;
        
        & .menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            font-size: 1.8rem;
        }

        & .menu-item {
            padding: 1rem;
            border-radius: .5rem;
            transition: .3s ease-in-out;
        }

        & .menu-item:hover {
            background-color: var(--secondary-color);
            transform: scale(1.1);
        }
    }

    .container-logo {
        grid-area: container-logo;
        background-color: #ffffff39;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% + 3rem);
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 3rem;

        & .box-image {
            max-width: 19rem;
            max-height: 11rem;
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }

    .presentation {
        grid-area: presentation;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        & .name {
            font-size: 3rem;
            font-weight: 700;
        }

        & .profession {
            font-size: 2rem;
            margin-bottom: 10rem;
        }

        & .networks {
            display: flex;
            flex-direction: row;
            font-size: 3rem;
            gap: 1rem;

            & .icon {
                transition: transform .3s ease-in-out;
            }

            & .icon:hover {
                color: var(--secondary-color);
                
            }
        }
    }
}